@use "./base.scss";

// put your custom CSS here!
// 폴더 페이지 하단의 파일 목록 숨기기
.folder-content {
  .page-listing {
    display: none;
  }
}

// 또는 더 구체적으로
article[data-page-type="folder"] {
  .page-listing {
    display: none !important;
  }
}